{% extends 'mailings/base.html' %}

{% block title %}
Сброс пароля
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>
        Сброс пароля
    </h1>
</div>
<form method="post" action="" class="form-floating">
    <div class="d-flex justify-content-center py-3">
        <div class="col-6">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-success">Отправить ссылку для сброса пароля</button>
        </div>
    </div>
</form>
{% endblock %}