{% extends 'mailings/base.html' %}
{% load my_tags %}

{% block title %}
Профиль {{ user.email }}
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>
        Профиль
    </h1>
  <p>Это ваш профиль. Здесь вы можете посмотреть вашу информацию, а также информацию о количестве успешных/неуспешных</p>
      <p>попыток рассылок и количестве отправленных сообщений.</p>
  {% if perms.user.can_view_all_users %}
  <a href="/user/">
      <button type="button" class="btn btn-outline-info btn-sm">
          Список пользователей
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
          </svg>
      </button>
  </a>
  {% endif %}
</div>
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col px-5">
        <div class="text-center py-4">
            <p><img src="{{ user.avatar | media_filter }}" class="img-thumbnail" style="width: 200px" alt="{{ user.email }}"></p>
            <p>Email: {{ user.email }}</p>
            <p>Номер телефона: {{ user.phone_number|default:"-" }}</p>
            <p>Страна: {{ user.country|default:"-" }}</p>
            <a class="link" href="/user/{{ user.id }}/update/">
                Редактировать профиль
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="col">
        <p>Кол-во успешных рассылок: {{ successful_attempts }} </p>
        <p>Кол-во не успешных рассылок: {{ unsuccessful_attempts }} </p>
        <p>Кол-во отправленных сообщений: {{ user.count_sent_messages }}</p>
    </div>
  </div>
</div>
{% endblock %}