{% extends 'mailings/base.html' %}

{% block title %}
Удаление
{% endblock %}

{% block content %}
<h1 class="text-center">Подтвердите удаление</h1>
<form method="post" action="" class="form-floating">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a class="link" href="/">
            <button type="button" class="btn btn-success">Отмена</button>
        </a>
    </div>
</form>
{% endblock %}