{% extends 'mailings/base.html' %}

{% block title %}
{% if object %}
Редактирование клиента
{% else %}
Новый клиент
{% endif %}
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>
        {% if object %}
        Редактируйте своего клиента
        {% else %}
        Добавьте нового клиента
        {% endif %}
    </h1>
</div>
<form method="post" action="" class="form-floating">
    <div class="d-flex justify-content-center py-3">
        <div class="col-6">
            {% csrf_token %}
            {{ form.as_p }}
            {% if object %}
            <button type="submit" class="btn btn-outline-success">Сохранить изменения</button>
            <a class="link" href="/mailing_recipient/">
                <button type="button" class="btn btn-outline-danger">Отмена</button>
            </a>
            {% else %}
            <button type="submit" class="btn btn-outline-success">Добавить клиента</button>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}